.list {
  width: 100%;
  max-width: 700px;
}

.list ul {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  list-style: none;
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.album {
  display: flex;
  height: 110px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--grey-color);
  transition: all 0.5s;
}

.album:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: translateY(-5px);
}

.album div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album a {
  display: flex;
  text-decoration: none;
  grid-gap: 20px;
}

.album img {
  width: 90px;
  height: 90px;
  border: 3px var(--third-color) solid;
  border-radius: 10px;
}

.album p {
  color: var(--third-color);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 100%;
}

.album span {
  font-weight: 200;
  font-style: italic;
  color: var(--main-color);
}

.char {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--grey-color);
  height: 110px;
}
