.search {
  width: 100%;
  max-width: 700px;
}

.search input {
  width: 100%;
  background-color: var(--second-color);
  border: 1px var(--main-color) transparent;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px 15px;
  color: var(--third-color);
  font-weight: 400;
  transition: all 0.5s;
}

.search input::placeholder {
  transform: scale(0.6);
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
}

.search input:focus {
  outline: none;
  box-shadow: var(--box-shadow);
  transform: translateY(-5px);
}
