@import "components/album-input-styles.css";
@import "components/album-list-stlyes.css";

:root {
  --main-color: #082032;
  --second-color: #334756;
  --third-color: #c0381d;
  --fourth-color: #2c394b;
  --grey-color: #787e83;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
